.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    top: 45px;
    width: auto;
    font-size: 70px;
}

.alice-carousel__next-btn {
   right: 0;
}

.sliderimg{
    width: 100%;
    height: 300px;
    object-fit: cover
  }